$primary: #94897e;
$secondary: #00c79c;
$thirdindary: #b4ffef;

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
.white {
    background-color: white;
}

.primary-color {
    background-color: $primary;
}

.primary-color-btn{
    transition: transform 0.3s;
    &:hover {
    background-color: rgba(255, 255, 255, 0.164);
    border: 1px solid $primary;
    transform: scale(1.02);
    }
}
// action section
.action {
    height: 200px;
    margin: 20px;
    .center {
        margin: auto;
    }
    .action-text {
        // max-width: 600px;
        text-align: center;
        font-size: 2.2rem;
    }
    a{
        margin: 30px auto;
    }
}

// about-me section
.about-me{
    background-color: $primary;
    width: 100%;
    height: 400px;

    .container {
        background-color: $primary;
        align-items: center;
        max-width: 800px;
        .anneliis {
            height: 350px;
            width: 300px;
            object-fit: cover;
            margin: 25px;
            border-radius: 5px;
        }
        div {
            .aboutme-text {
                text-align: center;
            }
        }
    }
}

// portfolio section
.portfolio {
    // height: 400px;
    flex-wrap: wrap;
    // margin-top: 20px;
    // margin-bottom: 20px;
    .card {
        height: 230px;
        margin: auto;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .port-card {
        justify-content: space-around;
        img {
            height: 190px;
            object-fit: cover;
        }
        .card-body{
            height: 40px;
        }
        .card-text {
            text-align: center;
        }
    }
}

// image section
.image-section{
    width: 100%;
    height: 500px;
    background-image: url('../img/wedding2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .image-section-text {
        max-width: 500px;
        text-align: center;
    }
    a{
        margin: 30px auto;
    }
}

// feedback section

.feedback-card {
    background-color: $primary;
    width: 400px;
    height: 300px;
    margin: 30px;
    border-radius: 5px;
    .feedback-img {
        height: 250px;
        width: 200px;
        border-radius: 5px;
        object-fit: cover;
        margin: 20px;
    }
    .feedback-text {
        padding: 20px;
    }
}

.shadow {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}